.title{
    font-size: 29px;
    
    font-family: 'Arial', sans-serif;

    font-weight: bold;
    margin-bottom: -4px;
    text-align: center;
    margin-top: -1400px;
    margin-left: 30px;


}

.budgetcontainer{
    
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0,
    0, 0.1);
    width: 250px;
    margin: 20px;
    margin-left: 30px;


}
.cardtitle{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.cardamount{
    font-size: 24px;
    font-weight: bold;
    color: #4caf50;
}
.cardcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.budgetmaincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.smallspan{
    font-size: 14px;
    color: #777777;
    margin-top: 5px;
}
