.navbar{
    background-color: #0e1a50;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.adminButton{
    float: right;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: none;
    background: none;
    cursor: pointer;
}
.title{
    color: white;
    font-size: 20px;
    padding: 14px 16px;
    font-weight: bold;
  
    align-items: center;
    display: flex;
    

    
}